{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <p class="important">
      Welcome to my awesome homepage.
    </p>

    <h2>My Interests</h2>
    {% for interest in interests %}
      <div class="interest">
        {% if 'url' in interest %}
          <a href="{{interest.url}}">{{interest.name}}</a>
        {% else %}
          {{interest.name}}
        {% endif %}
      </div>
    {% endfor %}

    <h2>Projects</h2>
    {% for project in projects %}
      <div class="project">
        <a href="{{project.url}}">
          <h3>{{project.title}}</h3>
          <p>{{project.description}}</p>
        </a>
      </div>
    {% endfor %}

    <h2>Social Profiles</h2>
    {% for profile in profiles %}
      <div class="social">
        <a href="{{profile.url}}">{{profile.service}}</a>
      </div>
    {% endfor %}

{% endblock %}
