{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <h1> Machine Learning Lectures </h1>

  <h2> Lectures will be: </h2>
  <ul>
    <li>Tuesday 14:45</li>
    <li>Wednesday 14:00</li>
    <li>Friday 14:30</li>
    <li>Sunday 11:00</li>
  </ul>

  <h2> Extra Seminars</h2>
  <ul>
    <li>Calculus: Saturday, April 8 18:00</li>
    <li>Linear Algebra: Saturday, April 8 19:30</li>
    <li>Python: Sunday 10:00</li>
    <li>Probability: Monday 16:00</li>
  </ul>

  <h3>Homeworks:</h3>
  <ul>
  {% for name, filename in homeworks %}
    <li><a href="{{filename}}">{{name}}</a></li>
  {% endfor %}
  </ul>

  <h3>Practicals:</h3>
  <ul>
  {% for name, filename in practicals%}
    <li><a href="{{filename}}">{{name}}</a></li>
  {% endfor %}
  </ul>

  <h3>Lectures:</h3>
  <ul>
  {% for name, filename in lectures %}
    <li><a href="{{filename}}">{{name}}</a></li>
  {% endfor %}
  </ul>

{% endblock %}
